# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from secrets import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [26]:
output_data_file = "./city_weather_data.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

types_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Punta Arenas,75,CL,1603275181,74,-53.15,-70.92,37.40,3.36
1,Eureka,1,US,1603275412,87,40.80,-124.16,50.00,4.70
2,Rikitea,33,PF,1603275412,76,-23.12,-134.97,73.49,9.44
3,Kulhudhuffushi,0,MV,1603275412,77,6.62,73.07,82.63,15.50
4,Butaritari,22,KI,1603275413,76,3.07,172.79,82.06,10.78
...,...,...,...,...,...,...,...,...,...
582,Jacmel,100,HT,1603275628,78,18.23,-72.53,77.00,5.82
583,Luangwa,0,ZM,1603275628,15,-15.62,30.42,100.45,13.15
584,Duncan,1,US,1603275629,88,34.50,-97.96,68.00,8.05
585,Taitung City,75,TW,1603275629,88,22.76,121.14,77.00,5.82
586,Saint-François,100,FR,1603275629,55,46.42,3.91,66.20,21.92

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
gmaps.configure(api_key= g_key)
print (g_key)

AIzaSyCz2teRi5L0Q91Sd3dnP89UyXdJReXmjWQ

In [36]:
locations = types_df[["Lat", "Lng"]]

# locations

humidity = types_df["Humidity"]



fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=300,
                                   point_radius=5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [40]:
new_types_df = pd.DataFrame(types_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = new_types_df.loc[(new_types_df["Max Temp"] <= 90) & (new_types_df["Max Temp"] > 70) \
                             & (new_types_df["Wind Speed"] < 10) \
                             & (new_types_df["Cloudiness"] == 0)]


max_temp.head()

           City  Max Temp  Wind Speed  Cloudiness
31   Bredasdorp     71.60        9.17           0
37     Hermanus     73.99        1.01           0
86         Suez     89.65        6.13           0
106    Kūhdasht     78.80        6.93           0
107       Adrar     87.76        6.20           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [41]:

hotel_df = pd.DataFrame(types_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
0      Punta Arenas      CL -53.15  -70.92
1            Eureka      US  40.80 -124.16
2           Rikitea      PF -23.12 -134.97
3    Kulhudhuffushi      MV   6.62   73.07
4        Butaritari      KI   3.07  172.79
..              ...     ...    ...     ...        ...
582          Jacmel      HT  18.23  -72.53
583         Luangwa      ZM -15.62   30.42
584          Duncan      US  34.50  -97.96
585    Taitung City      TW  22.76  121.14
586  Saint-François      FR  46.42    3.91

[587 rows x 5 columns]

In [44]:
coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
search = "hotel"
radius = 5000
type = "hotel"

# set up a parameters dictionary
params = {  
       "radius": radius,
       "type": "lodging",
       "key": g_key
}
for index, row in hotel_df.iterrows():
    latitude= row["Lat"]
    longitude= row["Lng"]
    params ["location"]= f"{latitude}, {longitude}"
# base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
    response = requests.get(base_url, params=params)
    results= response.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = results["results"][0]["name"]
    except(KeyError, IndexError):
        print("missing data")
        
hotel_df

missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data
missing data

               City Country    Lat     Lng                       Hotel Name
0      Punta Arenas      CL -53.15  -70.92        Hotel Dreams Del Estrecho
1            Eureka      US  40.80 -124.16  Eureka Inn Trademark By Wyndham
2           Rikitea      PF -23.12 -134.97                   Pension Maro'i
3    Kulhudhuffushi      MV   6.62   73.07              Haajy Guest House 1
4        Butaritari      KI   3.07  172.79               Isles Sunset Lodge
..              ...     ...    ...     ...                              ...
582          Jacmel      HT  18.23  -72.53                    Hotel Florita
583         Luangwa      ZM -15.62   30.42           Gerasimos Safari Lodge
584          Duncan      US  34.50  -97.96       Days Inn by Wyndham Duncan
585    Taitung City      TW  22.76  121.14        Taitung Bali Suites Hotel
586  Saint-François      FR  46.42    3.91                Manoir Du Bonheur

[587 rows x 5 columns]

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [46]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))