# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from secrets import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
output_data_file = "./city_weather_data.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

types_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Hīt,0,IQ,1603245346,37,33.64,42.83,71.80,7.23
1,Pimentel,35,PE,1603245109,85,-6.84,-79.93,62.55,12.35
2,Mataura,17,NZ,1603245134,61,-46.19,168.86,57.00,11.01
3,Punta Arenas,75,CL,1603245143,68,-53.15,-70.92,41.00,6.93
4,Rundu,3,NaN,1603245347,24,-17.93,19.77,67.33,3.76
...,...,...,...,...,...,...,...,...,...
532,Ozernovskiy,100,RU,1603245533,67,51.50,156.52,41.88,21.47
533,Larsnes,100,NO,1603245533,95,62.20,5.58,44.01,8.34
534,Maracaçumé,48,BR,1603245533,87,-2.04,-45.96,74.35,4.29
535,Buchanan,88,LR,1603245534,88,5.88,-10.05,76.93,4.16
536,Acapulco de Juárez,75,MX,1603245465,83,16.86,-99.89,84.20,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
gmaps.configure(api_key= g_key)
print (g_key)

AIzaSyCz2teRi5L0Q91Sd3dnP89UyXdJReXmjWQ

In [14]:
locations = types_df[["Lat", "Lng"]]

# locations

humidity = types_df["Humidity"].astype(float)



fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
new_types_df = pd.DataFrame(types_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

               City  Max Temp  Wind Speed  Cloudiness
0               Hīt     71.80        7.23           0
84      Bandarbeyla     78.37        7.83           0
110         Luangwa     76.19        1.57           0
132           Dubai     73.40        4.70           0
159        Hurghada     77.00        6.93           0
180       Taoudenni     78.71        9.95           0
217          Ujhāni     71.17        3.29           0
296          Baberu     75.81        3.67           0
357          Moroni     77.00        1.81           0
368           Bilma     76.03        2.68           0
392         Caborca     77.00        3.00           0
455  Cap Malheureux     73.99        5.01           0
489          Moerai     77.85        5.17           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:

hotel_df = pd.DataFrame(types_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

                   City Country    Lat     Lng Hotel Name
0                   Hīt      IQ  33.64   42.83
1              Pimentel      PE  -6.84  -79.93
2               Mataura      NZ -46.19  168.86
3          Punta Arenas      CL -53.15  -70.92
4                 Rundu     NaN -17.93   19.77
..                  ...     ...    ...     ...        ...
532         Ozernovskiy      RU  51.50  156.52
533             Larsnes      NO  62.20    5.58
534          Maracaçumé      BR  -2.04  -45.96
535            Buchanan      LR   5.88  -10.05
536  Acapulco de Juárez      MX  16.86  -99.89

[537 rows x 5 columns]

In [19]:
coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
search = "hotel"
radius = 5000
type = "hotel"

# set up a parameters dictionary
params = {
    "location": coordinates,
    "keyword": search,
    "radius": radius,
    "type": type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [20]:
pprint(response.json(), depth=1)

Pretty printing has been turned OFF

In [21]:
hotel_df.iloc[0][0]

'Hīt'

In [22]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

NameError: name 'hotel_name' is not defined

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))